body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 20px auto 20px auto;
    width: 800px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 30px;
}

.hero-unit h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1px;
}

.subtitle {
    font-size: 12px;
}

#nav {
    padding-top: 15px;
}

.clickable {
    cursor: pointer;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

.event-start, .event-end {
    font-size: 12px;
}

.additional-info {
    margin: 5px;
}
