<div class="hero-unit">
  <h1>Paylogic Store</h1>
  <div id="nav">
    <a href="#/profile/" ng-hide="noProfile()" class="btn">Profile</a>
    <a href="/" class="btn">Event List</a>
  </div>
  <div ng-include="'views/basket.html'"></div>
  <div id="event">
    <h2>{{data.event.title.en}}</h2>
    <div>Event starts on {{data.event.event_start | date:"yyyy/MM/dd"}} at {{data.event.event_start | date:"hh:mm"}}</div>
    <div>Event ends on {{data.event.event_end | date:"yyyy/MM/dd"}} at {{data.event.event_end | date:"hh:mm"}}</div>
    <div id="products">
      <h3>Products</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Availability</th>
            <th>Units</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in data.products">
            <td>
              <div>{{product.name.en}}</div>
              <div class="subtitle">{{product.subtitle.en}}</div>
            </td>
            <td>{{product.price.amount | currency:currencies[product.price.currency]}} {{product.price.currency}}</td>
            <td>{{product.availability}}</td>
            <td><input type="number" min="0" max="{{product.constraints.max_quantity}}" ng-model="data.units[product.uri]" /></td>
          </tr>
        </tbody>
      </table>
      <button class="btn" ng-click="add()" ng-disabled="isCompleted() || isCanceled()">Add To Basket</button></td>
    </div>
  </div>
</div>
