<div class="hero-unit">
  <h1>Storelogic</h1>
  <div id="nav">
    <a href="#/history/" class="btn">History</a>
    <a href="/" class="btn">Event List</a>
  </div>
  <div ng-hide="noProfile()">
    <div id="profile">
      <p>Feel free to update your Storelogic profile!</p>
      <h2>Profile</h2>
      <form role="form">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="first name?" ng-model="data.profile.first_name">
        </div>
        <div class="form-group">
          <label for="firstName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="last name?" ng-model="data.profile.last_name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="email?" ng-model="data.profile.email">
        </div>
        <div class="form-horizontal">
          <label for="date-of-birth">Date of Birth</label>
          <input type="text" id="date-of-birth" datepicker-popup="yyyy/MM/dd" ng-model="data.profile.date_of_birth" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="maleGender" value="male" ng-model="data.profile.gender">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="femaleGender" value="female" ng-model="data.profile.gender">
            Female
          </label>
        </div>
        <div class="country">
          <select ng-model="data.profile.country" ng-options="country for country in data.countries">
            <option value="">--</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default" ng-click="update(data.profile)">Update</button>
      </form>
    </div>
  </div>
  <div id="no-profile-message" ng-show="noProfile()">
    There is no profile yet. Feel free to <a href="/#/register/">register</a> with Storelogic!
  </div>
</div>
